/* @override 
	http://dev.tapit.2.iaminawe.com/profiles/tapit/themes/tapstrap/css/tapstrap.css?mirzn7 */

#header{
  background-color: white;
  display: block;
   height:80px;
  margin-bottom: 0px;

}

.navbar-inner {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 40px !important;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #fafafa;
   background-repeat: repeat-x;
  border: 1px solid #d4d4d4;
    background-image: -webkit-linear-gradient(top, rgb(235, 235, 235) 0%, rgb(208, 208, 208) 100%);
  
  
 }

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #ffffff;
}

a {
  color: #619F16;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}

a:hover,
a:focus {
  color: #005580;
  text-decoration: underline;
}
